body {
	font-family: 'Open Sans', cursive;
	margin: 0;
	padding: 0;
}

nav {
	background-color: white;
	-webkit-box-shadow: 1px 0px 15px #aaa;
	-moz-box-shadow: 1px 0px 15px #aaa;
	box-shadow: 1px 0px 15px #aaa;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.container {
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-align: center;
}

.container li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 3px;
	margin: 0;
	padding: 20px;
	text-transform: uppercase;
}

.container a {
	color: #000;
	text-decoration: none;
}

/*#youtube {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

#youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/

#home {
	background: url("../images/home.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1080px;
	position: relative;
}

#about {
	background: url("../images/about.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1080px;
	position: relative;
}

#blog {
	background: url("../images/blog.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1080px;
	position: relative;
}

#contact { 
	background: url("../images/contact.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1080px;
	position: relative;
}