body {
	font-family: 'Changa One', cursive;
	margin: 0;
	padding: 0;
}

#home {
	background: url("../images/home.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1080px;
	position: relative;
}

#about {
	background: url("../images/about.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1080px;
	position: relative;
}

#blog {
	background: url("../images/blog.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1080px;
	position: relative;
}

#contact { 
	background: url("../images/contact.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1080px;
	position: relative;
}